web/WEB-INF/wsdl/localhost_8080/ProntuarioDigital/HospitalWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servico/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servico/" name="HospitalWS">
<types>
<xsd:schema>
<xsd:import namespace="http://servico/" schemaLocation="http://localhost:8080/ProntuarioDigital/HospitalWS?xsd=1"/>
</xsd:schema>
</types>
<message name="CadastrarHospital">
<part name="parameters" element="tns:CadastrarHospital"/>
</message>
<message name="CadastrarHospitalResponse">
<part name="parameters" element="tns:CadastrarHospitalResponse"/>
</message>
<message name="AlterarHospital">
<part name="parameters" element="tns:AlterarHospital"/>
</message>
<message name="AlterarHospitalResponse">
<part name="parameters" element="tns:AlterarHospitalResponse"/>
</message>
<message name="excluirHospital">
<part name="parameters" element="tns:excluirHospital"/>
</message>
<message name="retornarHospital">
<part name="parameters" element="tns:retornarHospital"/>
</message>
<message name="retornarHospitalResponse">
<part name="parameters" element="tns:retornarHospitalResponse"/>
</message>
<message name="retornarHospitalPorCodigo">
<part name="parameters" element="tns:retornarHospitalPorCodigo"/>
</message>
<message name="retornarHospitalPorCodigoResponse">
<part name="parameters" element="tns:retornarHospitalPorCodigoResponse"/>
</message>
<portType name="HospitalWS">
<operation name="CadastrarHospital">
<input wsam:Action="http://servico/HospitalWS/CadastrarHospitalRequest" message="tns:CadastrarHospital"/>
<output wsam:Action="http://servico/HospitalWS/CadastrarHospitalResponse" message="tns:CadastrarHospitalResponse"/>
</operation>
<operation name="AlterarHospital">
<input wsam:Action="http://servico/HospitalWS/AlterarHospitalRequest" message="tns:AlterarHospital"/>
<output wsam:Action="http://servico/HospitalWS/AlterarHospitalResponse" message="tns:AlterarHospitalResponse"/>
</operation>
<operation name="excluirHospital">
<input wsam:Action="http://servico/HospitalWS/excluirHospital" message="tns:excluirHospital"/>
</operation>
<operation name="retornarHospital">
<input wsam:Action="http://servico/HospitalWS/retornarHospitalRequest" message="tns:retornarHospital"/>
<output wsam:Action="http://servico/HospitalWS/retornarHospitalResponse" message="tns:retornarHospitalResponse"/>
</operation>
<operation name="retornarHospitalPorCodigo">
<input wsam:Action="http://servico/HospitalWS/retornarHospitalPorCodigoRequest" message="tns:retornarHospitalPorCodigo"/>
<output wsam:Action="http://servico/HospitalWS/retornarHospitalPorCodigoResponse" message="tns:retornarHospitalPorCodigoResponse"/>
</operation>
</portType>
<binding name="HospitalWSPortBinding" type="tns:HospitalWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CadastrarHospital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AlterarHospital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excluirHospital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="retornarHospital">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornarHospitalPorCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HospitalWS">
<port name="HospitalWSPort" binding="tns:HospitalWSPortBinding">
<soap:address location="http://localhost:8080/ProntuarioDigital/HospitalWS"/>
</port>
</service>
</definitions>